.table {
    width: 450px;
    border-collapse: collapse;
    margin-top: 16px;
}

.item {
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    padding: 4px;
}

.heading {
    background-color: rgb(47, 47, 55);
    color: white;
    font-size: 16px;
}

.background:nth-child(2n) {
    background-color: rgba(47, 47, 55, 0.2);
}